@font-face {
    font-display: swap;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../fontss/space-mono-v12-latin-regular.eot');
    src: url('../fontss/space-mono-v12-latin-regular.eot?#iefix') format('embedded-opentype'), url('../fontss/space-mono-v12-latin-regular.woff2') format('woff2'), url('../fontss/space-mono-v12-latin-regular.woff') format('woff'), url('../fontss/space-mono-v12-latin-regular.ttf') format('truetype'), url('../fontss/space-mono-v12-latin-regular.svg#SpaceMono') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    src: url('../fontss/lexend-deca-v17-latin-regular.eot');
    src: url('../fontss/lexend-deca-v17-latin-regular.eot?#iefix') format('embedded-opentype'), url('../fontss/lexend-deca-v17-latin-regular.woff2') format('woff2'), url('../fontss/lexend-deca-v17-latin-regular.woff') format('woff'), url('../fontss/lexend-deca-v17-latin-regular.ttf') format('truetype'), url('../fontss/lexend-deca-v17-latin-regular.svg#LexendDeca') format('svg');
}