.about-app {
    margin-top: 160px;
    padding-bottom: 150px;
}

.about {
    @include divs;
    position: relative;
    column-gap: 30px;
    @include tablet {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    @include phone {
        flex-direction: column;
        row-gap: 48px;
    }
    &__img {
        max-width: 96px;
        object-fit: cover;
        @include tablet {
            width: 96px;
            height: 96px;
        }
    }
    &__card {
        z-index: 10;
        @include tablet {
            @include divs;
            column-gap: 76px;
            align-items: center;
        }
        @include phone {
            flex-direction: column;
            text-align: center;
        }
    }
    &__title {
        color: $tcolor2;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        margin-top: 40px;
    }
    &__text {
        color: $tcolor1;
        font-family: 'Lexend Deca';
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        max-width: 350px;
        margin-top: 27px;
    }
}

.about::before {
    content: '';
    position: absolute;
    width: 90%;
    top: 40px;
    left: -200px;
    height: 15px;
    background: #E5ECF4;
    @include tablet {
        display: none;
    }
    @include phone {
        display: none;
    }
}

.about::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 15px;
    height: 110%;
    background-color: #E5ECF4;
    top: -170px;
    left: 150px;
    display: none;
    @include tablet {
        display: block;
    }
    @include phone {
        display: none;
    }
}