@import url(fontss/fontss.css);
.btn,
body {
    font-family: "Space Mono"
}

.menu,
nav {
    position: fixed
}

.btn,
.footer__a,
.menu__ul-a {
    font-size: 15px;
    font-weight: 700
}

.abt__title,
.btn,
.era__title {
    font-weight: 700
}

.era2__img,
.era__img,
.value__img {
    transition: 1s
}

.era2__img:hover,
.era__img:hover,
.menu__ul-a:hover {
    transform: scale(1.2, 1.2)
}

.btn,
.btn:hover {
    border: 3px solid #fcb72b
}

.btn:hover,
.footer__a:hover {
    color: #fcb72b
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box
}

.container {
    max-width: 1136px;
    margin: 0 auto;
    padding: 0 15px
}

body {
    overflow-x: hidden
}

.btn {
    padding: 14px 39px;
    background: #fcb72b;
    color: #fff;
    cursor: pointer
}

.era2__text,
.era__text,
.faq__right-text1,
.value__card-text {
    font-family: "Lexend Deca"
}

header {
    background-image: url(../../images/abt.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 50px
}

.era2__phline,
.era__phline,
.menu__img2,
.menu__inp:checked~.menu__label,
.menu__label,
.menu__label2,
input[type=checkbox] {
    display: none
}

nav {
    background-color: #fff;
    z-index: 40;
    top: 0;
    left: 0;
    width: 100%;
    height: 96px
}

.menu {
    display: flex;
    -moz-column-gap: 58px;
    column-gap: 58px;
    padding: 21px 0;
    align-items: center;
    width: 80%
}

.menu__bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.footer__ul,
.menu__ul {
    display: flex;
    -moz-column-gap: 32px;
    column-gap: 32px
}

.footer__a,
.menu__ul-a {
    line-height: 25px;
    color: #939caa
}

.menu__ul-a:hover {
    color: #fcb72b
}

.footer__img,
.menu__logo {
    max-width: 107px;
    height: 28px;
    -o-object-fit: cover;
    object-fit: cover
}

.menu__img1 {
    max-width: 18px;
    height: 18px;
    -o-object-fit: cover;
    object-fit: cover
}

.menu__inp:checked~.menu__bar {
    z-index: 30;
    transform: translateX(-50px)
}

.menu__inp:checked~.menu__label2 {
    display: block
}

.abt__title {
    padding-top: 168px;
    padding-bottom: 72px;
    font-size: 56px;
    line-height: 56px;
    color: #fff
}

.era {
    display: flex;
    justify-content: center;
    -moz-column-gap: 190px;
    column-gap: 190px;
    align-items: center;
    margin-top: 100px
}

.era__title {
    font-size: 48px;
    line-height: 48px;
    color: #495567;
    margin-bottom: 24px
}

.era__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #939caa
}

.era__img {
    max-width: 445px;
    height: 445px;
    -o-object-fit: cover;
    object-fit: cover
}

.era__left {
    width: 573px
}

.era2__left,
.era__right {
    position: relative
}

.era__line1 {
    position: absolute;
    right: -180px
}

.era2 {
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 100px;
    column-gap: 100px;
    margin-top: 80px
}

.era2__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #495567;
    max-width: 445px;
    margin-bottom: 24px
}

.era2__text {
    max-width: 445px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #939caa
}

.faq__title,
.value__card-title,
.value__title {
    font-weight: 700;
    color: #495567;
    text-align: center
}

.era2__line {
    position: absolute;
    left: -170px
}

.values {
    margin-top: 80px
}

.faq__title,
.value__title {
    font-size: 48px;
    line-height: 48px
}

.value__cards {
    display: flex;
    -moz-column-gap: 30px;
    column-gap: 30px
}

.value__card {
    position: relative;
    max-width: 350px;
    margin-top: 85px;
    text-align: center
}

.value__it {
    position: absolute;
    left: 120px;
    top: 200px;
    transition: .5s
}

.value__it:hover {
    transform: scale(.9, .9)
}

.value__card-title {
    font-size: 24px;
    line-height: 28px;
    width: 100%;
    margin-top: 87px
}

.value__card-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    margin-top: 27px;
    text-align: center;
    color: #939caa
}

.value__img:hover {
    transform: scale(1.2, 1.2)
}

.faq__right-item2:hover,
.faq__right-item3:hover,
.faq__right-item:hover {
    transform: scale(.9, .9)
}

.faqs {
    margin-top: 120px
}

.faq__blocks {
    display: flex;
    -moz-column-gap: 30px;
    column-gap: 30px;
    margin-top: 64px
}

.faq__left-h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #495567
}

.faq__right {
    max-width: 730px;
    transition: .5s
}

.faq__right-head1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #495567;
    width: 385px
}

.faq__right-text1 {
    color: #939caa;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    margin-top: 24px
}

.faq__right-item2,
.faq__right-item3 {
    width: 100%;
    background: #f2f5f9;
    margin-top: 16px;
    transition: 1s
}

.faq__right-item {
    padding: 32px 40px;
    background: #f2f5f9;
    transition: 1s
}

.faq__right-item2 {
    padding: 32px 334px 32px 40px
}

.faq__right-item3 {
    padding: 32px 307px 32px 40px
}

.footer__a:hover,
.footer__item-socialm:hover {
    transform: scale(1.2, 1.2)
}

.signs {
    margin-top: 160px;
    background-image: url(../../images/sign.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.sign {
    padding: 102px 0;
    display: flex;
    -moz-column-gap: 336px;
    column-gap: 336px
}

@media (max-width:768px) {
    header {
        background-image: url(../../images/abt.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center
    }
    .era {
        flex-direction: column-reverse;
        text-align: center
    }
    .era__title {
        margin-top: 56px;
        font-weight: 700;
        width: 100%;
        font-size: 48px;
        line-height: 48px
    }
    .era__text {
        width: 100%;
        margin-bottom: 120px
    }
    .era2__phline,
    .era__phline {
        display: none
    }
    .era__right {
        margin-top: 100px
    }
    .era2 {
        flex-direction: column;
        text-align: center
    }
    .era2__title {
        margin-top: 20px
    }
    .era2__text {
        height: 50px;
        margin-top: 40px;
        width: 100%
    }
    .faq__blocks,
    .value__cards {
        flex-direction: column;
        text-align: center;
        align-items: center
    }
    .faq__left-h2 {
        margin-bottom: 32px
    }
    .signs {
        background-image: url(../../images/sign-tablet.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover
    }
    .sign {
        flex-direction: column;
        text-align: center;
        align-items: center;
        row-gap: 40px
    }
}

.sign__title {
    font-weight: 700;
    width: 445px;
    font-size: 48px;
    line-height: 48px;
    color: #fff
}

.footer,
.footer__item {
    width: 100%;
    display: flex
}

.sign__right {
    display: flex;
    align-items: center;
    -moz-column-gap: 18px;
    column-gap: 18px
}

.sign__img,
.sign__img2 {
    max-width: 159px;
    height: 56px;
    -o-object-fit: cover;
    object-fit: cover
}

footer {
    background: #333a44
}

.footer {
    padding: 35px 0 32px;
    -moz-column-gap: 58px;
    column-gap: 58px
}

.footer__item {
    justify-content: space-between
}

.footer__item-social {
    display: flex;
    -moz-column-gap: 24px;
    column-gap: 24px
}

.footer__item-socialm {
    transition: 1s;
    cursor: pointer
}

@media (max-width:425px) {
    .menu__label {
        display: block
    }
    .menu {
        justify-content: space-around
    }
    .menu__bar {
        padding: 64px 32px 24px;
        margin-top: 46px;
        width: 280px;
        flex-direction: column;
        background: #333a44;
        height: 91vh;
        top: 50px;
        position: absolute;
        z-index: 20;
        transition: 1s;
        transform: translateX(-500px)
    }
    .menu__ul {
        flex-direction: column;
        row-gap: 24px
    }
    .era2__line,
    .era__line1,
    .menu__label2 {
        display: none
    }
    .menu__img2 {
        display: block;
        max-width: 18px;
        height: 18px;
        -o-object-fit: cover;
        object-fit: cover
    }
    .abt__title,
    .era {
        text-align: center
    }
    .era__title {
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
        width: 100%
    }
    .era__phline {
        position: absolute;
        top: 133px;
        display: block
    }
    .era2__img,
    .era__img {
        width: 311px;
        height: 311px
    }
    .era__left {
        width: 311px;
        position: relative
    }
    .era2 {
        margin-top: 0
    }
    .era2__title {
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 26px
    }
    .era2__left {
        width: 311px
    }
    .era2__phline {
        display: block;
        position: absolute;
        top: 0
    }
    .faq__right {
        max-width: 311px
    }
    .faq__right-head1 {
        max-width: 219px;
        width: 100%
    }
    .faq__right-item2,
    .faq__right-item3 {
        padding: 32px 60px 32px 32px
    }
    .signs {
        background-image: url(../../images/sign-mobi.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center
    }
    .sign {
        text-align: center;
        padding: 86px 32px 88px
    }
    .sign__title {
        width: 311px;
        font-weight: 700;
        font-size: 32px;
        line-height: 32px
    }
    .sign__right {
        -moz-column-gap: 12px;
        column-gap: 12px
    }
    .footer {
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding-bottom: 88px
    }
    .footer__item {
        flex-direction: column;
        align-items: center
    }
    .footer__ul {
        row-gap: 16px;
        margin: 41px 0 85px;
        flex-direction: column
    }
    .footer__item-social {
        text-align: center
    }
    .footer__item-socialm {
        width: 18px
    }
}

.btn:hover {
    transition: 1s;
    background: 0 0
}

;