.era {
    @include divs;
    justify-content: center;
    column-gap: 190px;
    align-items: center;
    margin-top: 100px;
    @include tablet {
        flex-direction: column-reverse;
        text-align: center;
    }
    @include phone {
        text-align: center;
    }
    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        color: $tcolor2;
        margin-bottom: 24px;
        @include tablet {
            margin-top: 56px;
            font-weight: 700;
            width: 100%;
            font-size: 48px;
            line-height: 48px;
        }
        @include phone {
            font-weight: 700;
            font-size: 32px;
            line-height: 32px;
            width: 100%;
        }
    }
    &__text {
        font-family: 'Lexend Deca';
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: $tcolor1;
        @include tablet {
            width: 100%;
            margin-bottom: 120px;
        }
    }
    &__phline {
        display: none;
        @include tablet {
            display: none;
        }
        @include phone {
            position: absolute;
            top: 133px;
            display: block;
        }
    }
    &__img {
        max-width: 445px;
        height: 445px;
        object-fit: cover;
        transition: 1s;
        @include phone {
            width: 311px;
            height: 311px;
        }
    }
    &__img:hover {
        transform: scale(1.2, 1.2);
    }
    &__left {
        width: 573px;
        @include phone {
            width: 311px;
            position: relative;
        }
    }
    &__right {
        position: relative;
        @include tablet {
            margin-top: 100px;
        }
    }
    &__line1 {
        position: absolute;
        right: -180px;
        @include phone {
            display: none
        }
    }
}

.era2 {
    @include divs;
    justify-content: center;
    align-items: center;
    column-gap: 100px;
    margin-top: 80px;
    @include tablet {
        flex-direction: column;
        text-align: center;
    }
    @include phone {
        margin-top: 0;
    }
    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        color: $tcolor2;
        max-width: 445px;
        margin-bottom: 24px;
        @include tablet {
            margin-top: 20px;
        }
        @include phone {
            font-weight: 700;
            font-size: 32px;
            line-height: 32px;
            margin-bottom: 26px;
        }
    }
    &__text {
        font-family: 'Lexend Deca';
        max-width: 445px;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: $tcolor1;
        @include tablet {
            width: 573px;
            height: 50px;
            margin-top: 40px;
            width: 100%;
        }
    }
    &__left {
        position: relative;
        @include phone {
            width: 311px;
        }
    }
    &__line {
        position: absolute;
        left: -170px;
        @include phone {
            display: none;
        }
    }
    &__img {
        transition: 1s;
        @include phone {
            width: 311px;
            height: 311px;
        }
    }
    &__img:hover {
        transform: scale(1.2, 1.2);
    }
    &__phline {
        display: none;
        @include tablet {
            display: none;
        }
        @include phone {
            display: block;
            position: absolute;
            top: 0;
        }
    }
}