.faqs {
    margin-top: 120px;
}

.faq {
    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        color: $tcolor2;
    }
    &__blocks {
        @include divs;
        column-gap: 30px;
        margin-top: 64px;
        @include tablet {
            flex-direction: column;
            text-align: center;
            align-items: center;
        }
    }
    &__left {
        &-h2 {
            font-weight: 700;
            font-size: 40px;
            line-height: 48px;
            color: $tcolor2;
            @include tablet {
                margin-bottom: 32px;
            }
        }
    }
    &__right {
        max-width: 730px;
        transition: 0.5s;
        @include phone {
            max-width: 311px;
        }
        &-head1 {
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            color: $tcolor2;
            width: 385px;
        }
    }
    &__right-head1 {
        @include phone {
            max-width: 219px;
            width: 100%;
        }
    }
    &__right-text1 {
        font-family: 'Lexend Deca';
        color: $tcolor1;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
    }
    &__right-item {
        padding: 32px 40px;
        background: #F2F5F9;
        transition: 1s;
    }
    &__right-item:hover {
        transform: scale(0.9, 0.9);
    }
    &__right-text1 {
        margin-top: 24px;
    }
    &__right-item2 {
        margin-top: 16px;
        width: 100%;
        padding: 32px 334px 32px 40px;
        background: #F2F5F9;
        transition: 1s;
        @include phone {
            padding: 32px 60px 32px 32px;
        }
    }
    &__right-item2:hover {
        transform: scale(0.9, 0.9);
    }
    &__right-item3 {
        padding: 32px 307px 32px 40px;
        width: 100%;
        background: #F2F5F9;
        margin-top: 16px;
        transition: 1s;
        @include phone {
            padding: 32px 60px 32px 32px;
        }
    }
    &__right-item3:hover {
        transform: scale(0.9, 0.9);
    }
}